<div class="{% if section.settings.include_margins %}row{% endif %}">
  {% if section.settings.include_margins %}<div class="small-12 columns">{% endif %}
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
    {% if section.settings.include_margins %}</div>{% endif %}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Include margins"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
