
<div class="{% if section.settings.content_for_tab != blank %} product-tabs-content js-product-tabs-content-{{ section.settings.content_for_tab }}{% endif %}">
  <div class="rich-text text-width-{{ section.settings.text_width }}">
    <div class=" rich-text__inner">
      {{ section.settings.custom_liquid }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom liquid",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "select",
      "id": "content_for_tab",
      "options": [
          {
          "value": "",
          "label": "None"
        },
        {
          "value": "detail",
          "label": "Detail"
        },
        {
          "value": "tech",
          "label": "Tech Specs"
        },
        {
          "value": "review",
          "label": "Reviews"
        },
        {
          "value": "faqs",
          "label": "FAQs"
        },
        {
          "value": "installation",
          "label": "Installation"
        } 
      ],
      "default": "",
      "label": "In which product tab is the content displayed?"
    }, 
    {
        "type": "select",
        "id": "text_width",
        "label": "Content width",
        "options": [
            {
                "value": "small",
                "label": "Small"
            },
            {
                "value": "medium",
                "label": "Medium"
            },
            {
                "value": "large",
                "label": "Large"
            },
            {
                "value": "xlarge",
                "label": "Extra large"
            },
            {
                "value": "grid",
                "label": "Grid"
            },
            {
                "value": "full_width",
                "label": "Full Width"
            }          
        ],
        "default": "full_width"
    },    
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}
