{%- liquid
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
    assign color_bg = section.settings.color_bg | downcase
-%}
<div class="{% if section.settings.content_for_tab != blank %}product-tabs-content js-product-tabs-content-{{ section.settings.content_for_tab }}{% endif %} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
  <div class="row">
      <div class="small-12 columns">
        <div style="background-color: {{ color_bg }};">
        <!-- Start of Judge.me code --> 
          <div style='clear:both'></div> 
          <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'> 
            {{ product.metafields.judgeme.widget }} 
          </div> 
        <!-- End of Judge.me code -->
        </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section product review",
    "settings": [
      {
        "type": "select",
        "id": "content_for_tab",
        "options": [
        	{
            "value": "",
            "label": "None"
          },
          {
            "value": "detail",
            "label": "Detail"
          },
          {
            "value": "tech",
            "label": "Tech Specs"
          },
          {
            "value": "review",
            "label": "Reviews"
          },
          {
            "value": "faqs",
            "label": "FAQs"
          },
          {
            "value": "installation",
            "label": "Installation"
          } 
        ],
        "default": "",
        "label": "In which product tab is the content displayed?"
      },
			{
        "type": "color",
        "id": "color_bg",
        "label": "Background",
        "default": "transparent"
      },      
			{
	      "type": "header",
	      "content": "Spacing"
	    },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			},
			{
	      "type": "header",
	      "content": "Column content font"
	    }      
    ],
    "presets": [
      {
        "name": "Section product review"
      }
    ]    
  }
{% endschema %}