<div class="product-tab--separator-item"></div>
{% schema %}
  {
    "name": "Tab separator",
    "class": "product-tab--separator",
    "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Tabbed content"
      }
    ],
    "presets": [
      {
        "name": "Tab separator"
      }
    ]
  }

{% endschema %}
