.product-list-section .product-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(72px, 6.25vw, 120px) 0;
    gap: clamp(32px, 2.5vw, 48px);
    isolation: isolate;
    margin: 0 auto;
}

.product-list-section .product-list__vector {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    object-fit: contain;
    z-index: -1;
    pointer-events: none;
}
.mobile-vector {
    display: none;
}

.product-list-section .product-list__title {
    position: relative;
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    font-weight: 700;
    width: 100%;
    max-width: fit-content;
    z-index: 1;
}

.product-list-section .product-list__slider {
    width: 100%;
    z-index: 2;
    position: relative;
}

.product-list-section .product-swiper {
    width: 100%;
    z-index: 2;
    position: relative;
}

.product-list-section .product-card {
    position: relative;
    aspect-ratio: 16 / 9;
    max-width: 80%;
    border-radius: clamp(14px, 1.25vw, 24px);
    overflow: hidden;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin-bottom: 0px;
}

.product-list-section .product-card.swiper-slide-active {
    opacity: 1;
}

.product-list-section .product-card__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.product-list-section .product-card__gradient {
    position: absolute;
    width: 100%;
    height: clamp(160px, 16.667vw, 320px);
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
    transform: scaleY(-1);
}

.product-list-section .product-card__tagline {
    position: absolute;
    left: 50%;
    bottom: clamp(28px, 3.125vw, 60px);
    transform: translateX(-50%);
    width: clamp(320px, 45.833vw, 880px);
    margin: 0;
    text-align: center;
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: clamp(22px, 1.667vw, 32px);
    font-weight: 400;
    color: #ffffff;
}

.product-list-section .product-swiper {
    cursor: none;
}

.product-list-section .product-list__cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: clamp(40px, 2.917vw, 56px);
    height: clamp(40px, 2.917vw, 56px);
    border-radius: 999px;
    border: clamp(1px, 0.104vw, 1px) solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    z-index: 3;
}

.product-list-section .product-list__cursor::after {
    content: "";
    width: clamp(16px, 1.042vw, 20px);
    height: clamp(16px, 1.042vw, 20px);
    background: #ffffff;
    clip-path: polygon(0 0, 85% 50%, 0 100%, 15% 100%, 100% 50%, 15% 0);
}

.product-list-section .product-list__cursor.is-left::after {
    transform: rotate(180deg);
}

.product-list-section .product-swiper.is-hovered .product-list__cursor {
    opacity: 1;
}

.product-list-section .pagination {
    gap: 12px;
    margin: 48px 0 auto;
    display: none;
    justify-content: center;
}


.product-list-section .pagination .swiper-pagination-bullet {
    position: relative;
    width: 32px;
    height: 20px;
    border-radius: 4px;
    margin: 0 !important;
    opacity: 1;
    background: transparent;
}

.product-list-section .pagination .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    inset: 4px;
    opacity: 0.32;
    background: #f79009;
    clip-path: path(" M2 0 H22 C24 0 24 2 23 4 C20 10 14 12 12 12 C10 12 4 10 1 4 C0 2 0 0 2 0 Z ");
}

.product-list-section .pagination .swiper-pagination-bullet-active::before {
    opacity: 1;
}

@media (max-width: 1024px) {

    .product-list-section .product-list {
        padding: clamp(56px, 8vw, 96px) 16px;
        background: #FBF9EC;
    }

    .product-list-section .product-card {
        max-width: 100%;
    }

    .product-list-section .product-list__slider {
        cursor: auto;
    }

    .product-list-section .product-list__cursor {
        display: none;
    }

    .product-list-section .pagination {
        position: absolute;
        left: 50% !important;
        bottom: -30px !important;
        transform: translateX(-50%);
        margin: 0;
        z-index: 2;
    }
    .product-list-section .pagination .swiper-pagination-bullet::before {
        background: white;
    }
    .product-list-section .pagination.orange .swiper-pagination-bullet::before {
        background-color: #f79009;
    }

    .product-list-section .product-card__tagline {
        bottom: 44px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
    }
    .product-list-section .product-list__title {
        font-size: 24px;
        line-height: 32px;
    }
    .product-list__vector.hide-mobile {
        display: none;
    }
    .mobile-vector {
        display: block;
        width: 105% !important;
    }
    .product-list-section .product-card {
        background-color: transparent;
        aspect-ratio: unset;
    }

    .product-list-section .product-card__media-wrap {
        position: relative;
        aspect-ratio: 16 / 9;
        border-radius: clamp(14px, 1.25vw, 24px);
        overflow: hidden;
    }
    @media (max-width: 767px) {
        .product-list-section .product-card__tagline {
        position: static;
        transform: none;
        bottom: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        margin: 32px 0 0;
        padding: 0 16px;
        color: #242528;
        text-align: center;
        width: 100%;
        }
    }
}
