.showcase-dnc-container {
    padding: 120px 64px;
}
.showcase-dnc-section__title {
    text-align: center;
}
.showcase-dnc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.showcase-dnc-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    /* aspect-ratio: 1 / 1; */
    background-color: #F5F5F6;
    aspect-ratio: 4 / 5;
    max-height: 600px;
    overflow: hidden;
}
.product-gallery .product-gallery-full {
    grid-column: 1 / span 2;
    aspect-ratio: 1792 / 600;
}
.showcase-dnc-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.showcase-dnc-content {
    position: absolute;
    inset: 0px;
    padding: 64px;
    color: #242528;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.content-alignment-top {
    justify-content: flex-start;
}
.content-alignment-center {
    justify-content: center;
}
.content-alignment-bottom {
    justify-content: flex-end;
}

.product-gallery .showcase-dnc-title {
    color: #242528;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.product-gallery .showcase-dnc-description {
    max-width: 405px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 512px;
    margin-bottom: 0px;
}
.product-gallery .image-size-contain {
    object-fit: contain;
    object-position: right;
}
.product-gallery .image-size-cover {
    object-fit: cover;
}
.product-gallery-image__mobile {
    display: none;
}

@media only screen and (max-width: 1420px) {
    .showcase-dnc-content {
        padding: 32px;
    }
    .showcase-dnc-title {
        font-size: 36px;
    }
    .showcase-dnc-description {
        max-width: 100%;
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .showcase-dnc-container {
        padding: 80px 16px;
    }
    .showcase-dnc-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .showcase-dnc-item {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
    .product-gallery .product-gallery-full {
        grid-column: 1 / 1;
        aspect-ratio: 1 / 1;       
    }
    .product-gallery-item {
        grid-column: 1 / 1;
        aspect-ratio: 1 / 1;
    }
    .showcase-dnc-grid:not(.even) .showcase-dnc-item:last-child {
        grid-column: 1 / 1;
        aspect-ratio: 343 / 400;
    }
    .product-gallery .showcase-dnc-content {
        padding: 16px;
    }
    .product-gallery .showcase-dnc-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .product-gallery .showcase-dnc-description {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
    }
    .product-gallery-image {
        display: none;
    }
    .product-gallery-image__mobile {
        display: flex;
    }
    .showcase-dnc-image {
        object-position: center bottom;
    }
    .product-gallery-item:last-child .product-gallery-image__mobile {
        object-position: right;
    }
    .showcase-dnc-content {
        justify-content: flex-end;
        background: linear-gradient(to bottom, transparent 0%, rgba(245, 245, 246, 0) 60%, #F5F5F6 100%);
    }
}