.product-custom {
    margin-top: 64px;
}
.product-custom .row {
    padding: 0px 64px;
}
.product-custom .row .columns {
    padding: 0;
}
.thb-product-detail.product-custom .product-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    margin: 16px 0px;
    color: #242528;
}
.thb-product-detail.product-custom .product-short-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242528;
}
.thb-product-detail.product-custom .max-height--no-background {
    margin-bottom: 16px;
}
.thb-product-detail.product-custom .product-grid-container {
    grid-template-columns: 67.27% 32.73%;
    gap: 32px;
}
.thb-product-detail.product-custom .product-reviews-text {
    font-family: "Noto Sans", sans-serif;
    margin-left: 0px !important;
}
.thb-product-detail.product-custom .star-rating span {
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #575A63;
    line-height: 24px;
}
.thb-product-detail.product-custom .product-title-container {
    margin-bottom: 24px;
}

.thb-product-detail.product-custom .product-price-container .price del {
    color: #575A63;
    font-size: 30px;
    line-height: 38px;
}
.thb-product-detail.product-custom .product-price-container .price ins span {
    color: #575A63;
    font-size: 30px;
    line-height: 38px;
}
.thb-product-detail.product-custom .product-price-container .price ins .discounted {
    color: #F79009;
    font-size: 30px;
    line-height: 38px;
}
.thb-product-detail.product-custom .form__label {
    color: #575A63;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}
.thb-product-detail.product-custom .form__label .form__label__value {
    color: #242528;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.thb-product-detail.product-custom .product--icon-list ul {
    display: flex;
    flex-wrap: wrap;
}
.thb-product-detail.product-custom .product--icon-list ul li {
    flex: 0 1 50%;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    line-height: 24px;
    margin-bottom: 20px;
    color: #242528;
}
.thb-product-detail.product-custom .product--icon-list ul li .product--icon-list-image {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.thb-product-detail.product-custom .variations {
    padding-top: 8px;
}
.thb-product-detail.product-custom .variations .product-form__input--color input[type="radio"] + label {
    width: 48px;
    margin: 0;
}
.thb-product-detail.product-custom .variations .product-form__input--color input[type="radio"]:checked + label {
    box-shadow: none !important;
}
.thb-product-detail.product-custom .variations .product-form__input--color input[type="radio"]:checked + label .bullet {
    --bullet-border: #242528;
}
.thb-product-detail.product-custom .variations .product-form__input--color input[type="radio"] + label:after {
    display: none !important;
}
.thb-product-detail.product-custom .variations .product-form__input--color input[type="radio"]:hover + label {
    box-shadow: none !important;
}
.thb-product-detail.product-custom .product-card-swatch.active .bullet {
    --bullet-border: #242528;
}
.thb-product-detail.product-custom .bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.thb-product-detail.product-custom .bullet:hover .bullet__icon {
    --bullet-border: #242528;
}
.thb-product-detail.product-custom .bullet__icon {
    cursor: pointer;
    width: 48px;
    height: 100%;
}
.thb-product-detail.product-custom .bullet__border {
    stroke: var(--bullet-border);
    stroke-width: 1;
    fill: none;
}

.thb-product-detail.product-custom .quantity-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 48px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity__label {
    display: none;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity {
    margin-bottom: 0px;
    border-radius: 40px;
    border-color: #CED0D3;
    padding: 6px 40px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity button {
    height: 56px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity button.plus {
    right: 8px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity button.minus {
    left: 8px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity button svg {
    width: 20px;
    height: 20px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .quantity input {
    color: #242528;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .product--product-form {
    margin-bottom: 0px;
    width: 100%;
}
.thb-product-detail.product-custom .quantity-buttons-wrapper .product-add-to-cart-container button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 56px;
    padding: 0;
}

.thb-product-detail.product-custom .product__accordion {
    border: none;
    background-color: #F5F5F6;
    border-radius: 16px;
    padding: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
}
.thb-product-detail.product-custom .product__accordion summary {
    padding: 0;
    color: #242528;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.thb-product-detail.product-custom .product__accordion .collapsible__content {
    color: #242528;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}
.thb-product-detail.product-custom .accordion details[open] summary span svg {
    transform: none;
    transition: none;
}
.thb-product-detail.product-custom .product__accordion .minus-icon {
    display: none;
}
.thb-product-detail.product-custom .product__accordion .minus-icon,
.thb-product-detail.product-custom .product__accordion .plus-icon {
    width: 20px;
    height: 20px;
}
.thb-product-detail.product-custom .product__accordion .minus-icon svg,
.thb-product-detail.product-custom .product__accordion .plus-icon svg {
    width: 20px;
    height: 20px;
}
.thb-product-detail.product-custom .product__accordion details[open] .plus-icon {
    display: none;
}
.thb-product-detail.product-custom .product__accordion details[open] .minus-icon {
    display: block;
}
.thb-product-detail.product-custom .custom-product-gallery__item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .thb-product-detail.product-custom .product-gallery-container .product-image-container .product-images {
    max-width: 100%;
  }
  .thb-product-detail.product-custom .grid-container {
    padding-left: 0px;
  }
  .thb-product-detail.product-custom .grid-container .product-image-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-slide {
    border-radius: 24px;
    background-color: #F5F5F6;
    height: auto;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-slide iframe {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    min-height: 590px;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-slide img {
    border-radius: 24px;
  }
  .custom-product-gallery iframe {
    pointer-events: none;
  }

  .product-custom .complementary-products--inner.products-overflow-hidden {
    overflow: hidden;
    margin-top: 40px;
  }
  .product-custom .products-overflow-hidden .complementary-products--heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .product-custom .products-overflow-hidden {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F6;
    border-radius: 16px;
    padding: 24px;
    gap: 16px;
  }
  .product-custom .products-overflow-hidden .product-card-small {
    width: 100%;
    background-color: transparent;
    border: none;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 16px;
    padding: 0;
  }
  .thb-product-detail.product-custom .products-overflow-hidden .bullet__icon {
    width: 32px;
    height: 100%;
  }
  
  .product-card-small--swatch.is-active .bullet .bullet__icon {
    --bullet-border: #242528;
  }
  .product-custom .products-overflow-hidden .product-card-small .product-card-small--info {
    flex: 1;
  }
  .product-custom .products-overflow-hidden .product-card-small .price {
    transform: translateY(0%) !important;
  }
  .product-custom .products-overflow-hidden .product-card-small:hover .price {
    transform: translateY(0%) !important;
  }
  .product-custom .products-overflow-hidden .product-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242528;
  }
  .product-custom .products-overflow-hidden .product-card-small--image {
    margin-right: 16px;
    max-width: 172px;
    width: 100%;
  }
  .product-custom .products-overflow-hidden .product-card-small--add-to-cart {
    display: flex;
    flex-direction: column;
  }
  .product-custom .products-overflow-hidden .product-card-small--add-to-cart-button {
    position: relative;
    transform: translateY(0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    height: 44px;
    margin-top: 16px;
    max-width: 174px;
    padding: 0;
  }
  .product-custom .products-overflow-hidden .product-card-small--add-to-cart-button span {
    text-decoration: none;
  }
  .product-custom .products-overflow-hidden .title-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
  }
  .product-custom .products-overflow-hidden .title-price a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #242528;
  }
  .product-custom .products-overflow-hidden .title-price .price {
    color: #242528;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .product-custom .products-overflow-hidden .title-price .price ins {
    margin-left: 0px;
  }
  .product-custom .products-overflow-hidden .title-price .price .discounted {
    color: #F79009;
  }
  .product-custom .products-overflow-hidden .product-card-small--swatches{
    margin-top: 16px;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-pagination {
    gap: 12px;
    margin: 16px 0 auto;
    display: flex;
    justify-content: center;
    display: none;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-pagination span {
    position: relative;
    width: 32px;
    height: 20px;
    border-radius: 4px;
    margin: 0 !important;
    opacity: 1;
    background: transparent;
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-pagination span::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    opacity: .32;
    background: #f79009;
    clip-path: path(" M2 0 H22 C24 0 24 2 23 4 C20 10 14 12 12 12 C10 12 4 10 1 4 C0 2 0 0 2 0 Z ");
  }
  .thb-product-detail.product-custom .custom-product-gallery .swiper-pagination .swiper-pagination-bullet-active::before {
    opacity: 1;
  }
  
  .product-custom .product-add-to-cart-sticky {
    display: none;
  }

  @media (max-width: 1440px) {
    .thb-product-detail.product-custom .custom-product-gallery .swiper-slide iframe {
        min-height: 400px;
    }
  }

  @media (max-width: 1300px) {
    .thb-product-detail.product-custom .product-grid-container {
        grid-template-columns: 60.27% 39.73%;
    }
  }

  @media (max-width: 1067px) {
    .product-custom {
        margin-top: 16px;
    }
    .product-custom .row {
        padding: 0px 16px;
    }
    .thb-product-detail.product-custom .custom-product-gallery .swiper-slide iframe {
        min-height: auto;
    }
    .thb-product-detail.product-custom .custom-product-gallery .swiper-slide img {
        aspect-ratio: 349 / 436;
        object-fit: cover;
    }
    .thb-product-detail.product-custom .product-gallery-container {
        margin-bottom: 24px;
    }
    .thb-product-detail.product-custom .star-rating-container .star-rating::before {
        font-size: 24px;
    }
    .thb-product-detail.product-custom .star-rating-container .star-rating span {
        font-size: 14px;
        line-height: 20px;
    }
    .thb-product-detail.product-custom .product-title {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 28px;
    }
    .thb-product-detail.product-custom .max-height--no-background {
        margin-bottom: 8px;
    }
    .thb-product-detail.product-custom .product-short-description {
        font-size: 14px;
        line-height: 20px;
    }
    .thb-product-detail.product-custom .product-price-container .price del {
        font-size: 18px;
        line-height: 28px; 
    }
    .thb-product-detail.product-custom .product-price-container .price .discounted {
        font-size: 18px !important;
        line-height: 28px !important;
    }
    .thb-product-detail.product-custom .product-price-container .price ins span {
        font-size: 18px;
        line-height: 28px;
    }
    .thb-product-detail.product-custom .custom-product-gallery .swiper-pagination {
        display: flex;
    }
    .thb-product-detail.product-custom .product-title-container {
        margin-bottom: 16px;
    }
    .thb-product-detail.product-custom .product--icon-list ul {
        flex-direction: column;
        gap: 8px;
    }
    .thb-product-detail.product-custom .product--icon-list ul li {
        margin-bottom: 0px;
    }
    .thb-product-detail.product-custom .product--icon-list ul li .product--icon-list-image {
        margin-right: 8px;
    }
    .thb-product-detail.product-custom .variations {
        padding-top: 12px;
    }
    .thb-product-detail.product-custom .form__label .form__label__value {
        padding-left: 4px;
    }
    .thb-product-detail.product-custom .quantity-buttons-wrapper {
        padding-top: 12px;
        margin-bottom: 32px;
    }
    .thb-product-detail.product-custom .product__accordion summary {
        font-size: 14px;
        line-height: 20px;
    }
    .thb-product-detail.product-custom .product__accordion .collapsible__content {
        font-size: 14px;
        line-height: 20px;
    }
    .product-custom .complementary-products--inner.products-overflow-hidden {
        margin-top: 32px;
        padding: 16px;
    }
    .product-custom .products-overflow-hidden .complementary-products--heading {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0px;
    }
    .product-custom .products-overflow-hidden .product-card-small--image {
        max-width: 86px;
        margin-right: 13px;
    }
    .product-custom .products-overflow-hidden .title-price a {
        font-size: 14px;
        line-height: 20px;
    }
    .product-custom .products-overflow-hidden .title-price .price {
        font-size: 14px;
        line-height: 20px;
    }
    .product-custom .products-overflow-hidden .product-desc {
        font-size: 14px;
        line-height: 20px;
    }
    .product-custom .products-overflow-hidden .product-card-small--add-to-cart-button {
        font-size: 14px;
        line-height: 20px;
        height: 40px;
    }
    .thb-product-detail.product-custom .quantity-buttons-wrapper .quantity input {
        font-size: 16px;
        line-height: 24px;
    }
    .product-custom .product-add-to-cart-sticky {
        display: flex;
        justify-content: center;
        background-color: transparent;
        max-width: 100%;
        box-shadow: none;
        bottom: 20px;
        padding-bottom: 0px;
    }
    .product-custom .product-add-to-cart-sticky .variant-selects--sticky {
        display: none;
    }
    .product-custom .product-add-to-cart-sticky .product-add-to-cart-sticky--content {
        max-width: 222px;
        width: 100%;
        min-height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-custom .product-add-to-cart-sticky .single-add-to-cart-button {
        height: 56px;
    }
  }
  @media (min-width: 1068px) {
    .custom-product-gallery .swiper-wrapper {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      transform: none !important;
    }
    .custom-product-gallery .swiper-slide {
      width: 100% !important;
    }
  }