

.shop-the-look .thb-hotspot-content, .shop-the-look .thb-hotspot-arrow, .shop-the-look .thb-hotspot-bubble {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.shop-the-look--full-width-false, .shop-the-look .thb-hotspot-bubble {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px); }

.shop-the-look--area {
  box-shadow: var(--block-shadows); }



.shop-the-look {
  display: block; }
  .shop-the-look--area {
    position: relative; }
    .shop-the-look--area img {
      width: 100%; }
  @media only screen and (max-width: 767px) {

    .shop-the-look--full-width-false {
      overflow: hidden; } }
  .shop-the-look--mobile {
    display: block; }
    @media only screen and (min-width: 768px) {
      .shop-the-look--mobile {
        display: none; } }
    .shop-the-look--mobile .thb-placeholder {
      height: 500px; }
  .shop-the-look--desktop {
    display: none; }
    @media only screen and (min-width: 768px) {
      .shop-the-look--desktop {
        display: block; } }
    .shop-the-look--desktop .thb-placeholder {
      height: 600px; }
  .shop-the-look .thb-placeholder {
    background: var(--color-accent); }
    .shop-the-look .thb-placeholder svg {
      padding: 50px;
      fill: var(--bg-body, #fff);
      opacity: 0.5; }
  .shop-the-look .thb-hotspot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }
    .shop-the-look .thb-hotspot:hover, .shop-the-look .thb-hotspot.loading, .shop-the-look .thb-hotspot.active {
      z-index: 40; }
      .shop-the-look .thb-hotspot:hover .thb-hotspot-arrow,
      .shop-the-look .thb-hotspot:hover .thb-hotspot-bubble, .shop-the-look .thb-hotspot.loading .thb-hotspot-arrow,
      .shop-the-look .thb-hotspot.loading .thb-hotspot-bubble,
      .shop-the-look .thb-hotspot.active .thb-hotspot-arrow,
      .shop-the-look .thb-hotspot.active .thb-hotspot-bubble {
        opacity: 1;
        pointer-events: all; }
      /* .shop-the-look .thb-hotspot:hover .thb-hotspot-arrow, .shop-the-look .thb-hotspot.loading .thb-hotspot-arrow,
      .shop-the-look .thb-hotspot.active .thb-hotspot-arrow {
        transform: translateY(0px); }
      .shop-the-look .thb-hotspot:hover .thb-hotspot-bubble, .shop-the-look .thb-hotspot.loading .thb-hotspot-bubble,
      .shop-the-look .thb-hotspot.active .thb-hotspot-bubble {
        transform: translateX(-50%) translateY(0px); } */
    .shop-the-look .thb-hotspot.loading .thb-hotspot-content {
      border-width: 12px; }
      .shop-the-look .thb-hotspot.loading .thb-hotspot-content .loading-overlay {
        display: flex; }
    .shop-the-look .thb-hotspot-content {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: #F79009;
      border: 8px solid #F79009;
      flex-shrink: 0;
      cursor: pointer;
      user-select: none; }
      .shop-the-look .thb-hotspot-content .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        transform: none;
        align-items: center;
        justify-content: center; }
        .shop-the-look .thb-hotspot-content .loading-overlay svg {
          width: 14px; }
          .shop-the-look .thb-hotspot-content .loading-overlay svg circle {
            stroke: var(--color-body, #2c2d2e); }
      .shop-the-look .thb-hotspot-content.thb-pulsate:after, .shop-the-look .thb-hotspot-content.thb-pulsate:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #F79009;
        border-radius: 100%;
        z-index: -1;
        animation: pulsing 2s infinite; }
      .shop-the-look .thb-hotspot-content.thb-pulsate:after {
        animation-delay: -0.4s; }

@-moz-keyframes pulsing {
  100% {
    transform: scale(1.75);
    opacity: 0; } }

@-webkit-keyframes pulsing {
  100% {
    transform: scale(1.75);
    opacity: 0; } }

@-o-keyframes pulsing {
  100% {
    transform: scale(1.75);
    opacity: 0; } }

@-ms-keyframes pulsing {
  .shop-the-look .thb-hotspot-content 100% {
    transform: scale(1.75);
    opacity: 0; } }

@keyframes pulsing {
  100% {
    transform: scale(1.75);
    opacity: 0; } }
    .shop-the-look .thb-hotspot-arrow {
      position: absolute;
      top: calc(100% + 0px);
      left: 5px;
      width: 0;
      height: 0;
      border-width: 0 11px 10px 11px;
      border-color: transparent transparent var(--bg-body, #f5f5f5) transparent;
      border-style: solid;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      opacity: 0;
      transform: translateY(20px);
      pointer-events: none; }
      .shop-the-look .thb-hotspot-arrow:before {
        content: "";
        display: block;
        position: absolute;
        top: -11px;
        left: -26px;
        width: 52px;
        height: 22px; }
    .shop-the-look .thb-hotspot-bubble {
      position: absolute;
      top: calc(100% + 9px);
      left: auto;
      padding: 16px;
      background: var(--bg-body, #fff);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      width: max-content;
      max-width: 570px;
      align-items: flex-start;
      opacity: 0;
      transform: translateX(-30px) translateY(20px);
      pointer-events: none; }
      .shop-the-look .thb-hotspot-bubble .thb-hotspot-product-image {
        max-width: 160px;
        max-height: 160px;
        margin-right: 16px;
        flex-shrink: 0;
        position: relative; }
        .shop-the-look .thb-hotspot-bubble .thb-hotspot-product-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: calc(var(--block-border-radius, 16px) / 2); }
    .shop-the-look .thb-hotspot-product-content .thb-hotspot-product-title {
      font-size: 30px;
      line-height: 38px;
    font-weight: 700; }
    .shop-the-look .thb-hotspot-product-content a {
      font-size: 0.75rem;
      font-weight: var(--font-body-medium-weight, 500); }
      .shop-the-look .thb-hotspot-product-content .thb-hotspot-product-description {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        margin-top: 8px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .shop-the-look .thb-hotspot-product-content .price,
      .shop-the-look .thb-hotspot-product-content .text-button {
        display: none;
      }
      
      .thb-hotspot-add-content {
        position: absolute;
        z-index: 21;
      }
      .thb-hotspot-add-content h3 {
        color: #fff;
        font-style: italic;
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
        margin-bottom: 0px;
      }
      .thb-hotspot-add-content p {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0px;
      }

      .shop-the-look .side-panel-content .variations .product-form__input--color input[type="radio"] + label:after {
        display: none;
      }
      .variations .product-form__input--color input[type="radio"] + label:after {
        display: none !important;
      }
      .variations .product-form__input--color input[type="radio"]:checked + label {
        box-shadow: none !important;
      }
      .variations .product-form__input--color input[type="radio"]:hover + label {
        box-shadow: none !important;
      }

      @media (max-width: 1200px) {
        .shop-the-look .thb-hotspot-content {
          width: 18px;
          height: 18px;
        }
        .shop-the-look .thb-hotspot-bubble {
          max-width: 400px;
        }
        .thb-hotspot-add-content h3 {
          font-size: 18px;
          line-height: 20px;
        }
        .thb-hotspot-add-content p {
          font-size: 14px;
          line-height: 22px;
        }
      }

      @media (max-width: 1024px) {
        .shop-the-look .thb-hotspot-bubble .thb-hotspot-product-image {
          width: 80px;
          height: 80px;
        }
        .shop-the-look .thb-hotspot-bubble .thb-hotspot-product-image img {
          min-height: 80px;
        }
        .shop-the-look .thb-hotspot-product-content .thb-hotspot-product-title {
          font-size: 12px;
          line-height: 18px;
        }
        .shop-the-look .thb-hotspot-product-content .thb-hotspot-product-description {
          font-size: 12px;
          line-height: 18px;
        }
        .shop-the-look .thb-hotspot-arrow {
          display: none;
        }
      }

      @media (max-width: 767px) {
        .thb-hotspot-add-content {
          max-width: 120px;
        }
        .shop-the-look .thb-hotspot-bubble {
          max-width: 343px;
          transform: translate(-50%, -50%) !important;
          top: 50%;
          left: 50%;
        }
        .shop-the-look .thb-hotspot-content {
          width: 10px;
          height: 10px;
          border: 5px solid #F79009;
        }
        .shop-the-look--area img {
          min-height: 242px;
          object-fit: cover;
        }
        .thb-hotspot-add-content h3 {
          font-size: 10px;
          line-height: 100%;
        }
        .thb-hotspot-add-content p {
          font-size: 7px;
          line-height: 100%;
        }

        .template-collection .side-panel.product-drawer.active {
          z-index: 1010;
        }
        .template-collection .side-panel-content .product--text.style_vendor {
          display: none;
        }
        .template-collection .max-height--no-background.max-height--active {
          position: unset;
        }
        .template-collection .side-panel-content variant-selects {
          display: none;
        }
        .template-collection .side-panel-content .quantity-buttons-wrapper .quantity__label,
        .template-collection .side-panel-content .quantity-buttons-wrapper quantity-selector {
          display: none;
        }
        .template-collection .side-panel-content .shopify-payment-button {
          display: none;
        }
        .template-collection .side-panel-content .product-title-container .star-rating-container {
          display: none;
        }
        .template-collection .side-panel-content .product-price-container {
          display: none;
          margin-bottom: 0px;
        }
        .template-collection .side-panel-content .product-title-container .product-title {
          font-size: 24px;
          line-height: 32px;
        }
        .template-collection .side-panel-content .product-title-container .product-short-description p {
          font-size: 14px;
          line-height: 20px;
        }
        /* .template-collection .side-panel.product-drawer {
          height: max-content;
          top: 50%;
          transform: translateY(-50%);
        } */
        .template-collection .static-dots .flickity-page-dots {
          margin-top: 20px;
        }
        .template-collection .side-panel-content .variations .product-form__input--color input[type="radio"] + label {
          display: none;
        }

      }

